@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/* font-family: 'Oswald', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* font-family: 'Pacifico', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');
/* font-family: 'Ubuntu', sans-serif; */
*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 60%;
    border: 2px solid white;
    border-radius: 40px;
}
.navbar{
    display:flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.nav-list{
   width: 60%;
   /* background-color: black; */
   display: flex;
   align-items: center;
   /* justify-content: center; */
}
.nav-list li{
   list-style: none;
   padding: 17px;
   /* border: 1px solid white; */
}
.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}
.nav-list li:hover{
    color: white;
    background-color: grey;
}
.background2{
    /* background: rgba(0, 0, 0, 0.7)url(''); */
    background:-webkit-linear-gradient(left,grey,grey);
    background-size: cover;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
}

.rightNav{
    /* background-color: aqua; */
    width: 50%;
    text-align: right;
    padding: 0 23px;
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}
.background{
    background: rgba(0, 0, 0, 0.7)url('KBCLogo.png');
    background-size: cover;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    height: 60%;
    position: fixed;
}
.button{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left:20%;
}
.btn{
    padding: 10px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 16px;
}
.btn:hover{
    background: none;
    color: white;
}
.btn-sm{
    padding: 7px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 14px;
    vertical-align: middle;
}
.btn-dark{
    color: black;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 180px;
    width: 25%;
}
.btn-dark:hover{
    background-color: black;
    color: white;
}
.w2{
    color: white;
}
.burger{
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 15px;
  display: none;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 3px 3px;
}
/* second part */
.box-main{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 100%;
}
.firstsection{
    height: 100vh;
    width: 100%;

}
.firstHalf{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 100px;
}
.text-big{
    font-size: 30px;
    text-align: center;
    margin-bottom: 17px;
}
.text-small{
    font-size: 15px;
}

/*second div */
.secondHalf{
  width: 30%;
}
.secondHalf img{
    width: 140%;
    border: 3px solid white;
    border-radius: 10px;
    display: block;
    margin: auto;
    background-color: white;
}

/* rewrite css */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
    flex-direction: column;
}

.div1 {
    margin-top: 13%;
    max-width: 100%;
    max-height: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    margin-bottom: 2%;
    background-color: white;
    width: 100%;
    margin-left: 0%;
    border-radius: 45px;
}

.part1 {
    margin-top: 5%;
}

.question {
    /* display: contents; */
    height: 5%;
    position: fixed;
}
.div2{
    display: flexbox;
    margin-right: 100%;
    max-width: 100%;
    /* align-items: center; */
    /* margin-top: 3%; */
}
.part2{
    /* border: 2px solid black; */
    max-width: 100%;
    align-items: top;
    margin-right: 0%;
    margin-left: 0%;
    padding: 10px;
    position: absolute;
    display: column;
    margin-bottom: 5%;
}
.box-1 {
    margin-left: 20%;
    /* margin-top: 1%; */
    display: inline-block;
    position: relative;
    padding: 45px 115px;
    /* border: 2px solid rgb(245, 5, 5); */
    max-width: 100%;
    margin-right: 0%;
    margin-left: 0%;
}
.box-2{
    margin-left: 20%;
    /* margin-top: 1%; */
    display: inline-block;
    position: relative;
    padding: 45px 115px;
    /* border: 2px solid rgb(11, 240, 79); */
    max-width: 100%;
    margin-right: 0%;
    margin-left: 0%;
}
.ans{
    padding: 10px;
    border: 2px solid black;
    display: flexbox;
    box-sizing: content-box;
    /* border: 2px solid rgb(19, 2, 255); */
}
.type-a{
    margin-top: 1%;
    /* margin-right: 10%; */
    align-items: baseline;
    /* border: 2px solid rgb(248, 14, 209); */
    padding: 3%;
}
.type-b{
    margin-top: 1%;
    /* margin-right: 10%; */
    align-items: baseline;
    /* border: 2px solid rgb(248, 14, 209); */
    padding: 3%;
}
input{
    margin-left: 16vh;
    display: inline-flexbox;
    /* border: 2px solid rgb(3, 216, 253); */
}
#box-1{
    display: inline-flex; 
    align-items: center;
    margin-bottom: 13%;
    margin-right: 10%;
    margin-left: 0%;
    max-width: 100%;
    border-radius: 15px;
    /* justify-content: center; */
    /* margin: auto; */
}
#box-3{
    display: inline-flex; 
    align-items: center;
    margin-left: 45%;
    margin-right: 20%;
    margin-bottom: 13%;
    border-radius: 15px;
}
#box-2{
    display: inline-flex; 
    align-items: center;
    border-radius: 15px;
    margin-left: 0%;
    /* margin-right: 10%; */
}
#box-4{
    display: inline-flex; 
    align-items: right;
    border-radius: 15px;
    margin-left: 45%;
    margin-right: 20%;
}
.circle{
    display: flexbox;
    max-width: 100%;
    margin-right: 40%;
    margin-left: 46%;
}
.circle1{
    align-items: center;
    display: flex;
}
#demo{
    align-items: center;
    height: 30%;
    width: 100%;
    background-color: grey;
    
}
@media only screen and (max-width:1250px)
{
    *{
        margin: 0;
        padding: 0;
    }
    .flex{
        flex-direction: column;
    }   
    #demo{
        height: 70%;
        width: 70%;
    } 
}
@media only screen and (max-width:1100px)
{
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.6s ease-out;
        height: 477px;
    }
    .nav-list li a{
        color: white;
    }
    .rightNav{
        text-align: center;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 160%;
        height: 97%;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 65px;
    }
    .v-class-resp{
        opacity: 0;
        display: none;
    }
    .form{
        max-width: 54%; 
    }
   
   .text-big{
       text-align: center;
       margin-left: 15%;
   }
   .text-small{
       text-align: center;
       margin-left: 15%;
   }
   .button{
       text-align: center;
       margin-left: 17%;
   }
   
   .logo img {
      width: 140%;
   }   
   .btn-dark{
      align-items: center;
      margin-left: 39%;
   }
   .secondHalf{
      margin-right: 20%;
      max-width: 100%;
      margin-top: 20%;
    } 
    .background2{
        /* background: peachpuff; */
        background-size: cover;
        background-blend-mode: darken;
        background-repeat: no-repeat;
        background-position: center;
    }
}